.ipynb_checkpoints/
p022_names.txt
p042_words.txt
p067_triangle.txt
p081_matrix.txt
p082_matrix.txt
p098_words.txt
p099_base_exp.txt
p102_triangles.txt
Done Not - In Progress
Done Not - Solution w: No work
ProjectEuler/
.py
helperFunctions.py
helperFunctions.pyc
.DS_Store
